.DS_Store
*.swp
profile

*~.nib


DerivedData/

# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"

build/



*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
#    NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


hallelujah.xcodeproj/project.xcworkspace/xcuserdata/
hallelujah.xcodeproj/xcuserdata/

.idea/
hallelujahIM.iml
hallelujah.xcworkspace/xcshareddata/
*.xcuserstate
*/xcuserdata/*
*xcworkspace/xcuserdata/*
hallelujah.xcworkspace/xcuserdata
hallelujah.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
